src/main/resources/password/pwm/config/StoredConfiguration.xsd

<?xml version="1.0" encoding="utf-16"?>
<!--
  ~ Password Management Servlets (PWM)
  ~ http://www.pwm-project.org
  ~
  ~ Copyright (c) 2006-2009 Novell, Inc.
  ~ Copyright (c) 2009-2017 The PWM Project
  ~
  ~ This program is free software; you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation; either version 2 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program; if not, write to the Free Software
  ~ Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
  -->

<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="PwmConfiguration">
        <xsd:complexType>
            <xsd:element name="properties">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" name="property">
                            <xsd:complexType>
                                <xsd:attribute name="key" type="xsd:string" />
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                    <xsd:attribute name="type" type="xsd:string" />
                    <xsd:attribute name="modifyTime" type="xsd:dateTime" />
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="settings">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" name="setting">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="label" type="xsd:string" />
                                    <xsd:element name="value" type="xsd:string" />
                                </xsd:sequence>
                                <xsd:attribute name="key" type="xsd:string" />
                                <xsd:attribute name="syntax" type="xsd:string" />
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="localeBundle">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" name="value" type="xsd:string" />
                    </xsd:sequence>
                    <xsd:attribute name="bundle" type="xsd:string" />
                    <xsd:attribute name="key" type="xsd:string" />
                    <xsd:attribute name="modifyTime" type="xsd:dateTime" />
                </xsd:complexType>
            </xsd:element>
            <xsd:attribute name="pwmVersion" type="xsd:string" />
            <xsd:attribute name="pwmBuild" type="xsd:string" />
            <xsd:attribute name="pwmBuildType" type="xsd:string" />
            <xsd:attribute name="createTime" type="xsd:dateTime" />
            <xsd:attribute name="modifyTime" type="xsd:dateTime" />
            <xsd:attribute name="xmlVersion" type="xsd:int" />
        </xsd:complexType>
    </xsd:element>
</xsd:schema>